<head>
    <meta charset="UTF-8">
    <meta name="description" content="Myriathon is a group of gamers who run bi-annual gaming marathons, raising money for a variety of charity organizations.">
    <meta name="keywords" content="Charity, Gaming, Video Games, Games, Game Marathons, Myriathon, Marathon, Marathons, Raising Money, Fundraise, Fundraising">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class = "container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="text-center display-4">About Us</h1>
                <h5 class="text-center">Innovation Experts</h5>
                <p id = "text-jumbo-about" class = "text-center text-dark">Renaissance Consulting Group brings experience as serial entrepreneurs, operating executives, and investors to companies that are committed to innovation.</p>
            </div>
        </div>
        <div id = "meet-team" class = "row">
            <div class = "col">
                <h3><span>Meet the Team</span></h3>
            </div>
        </div>
        <div class = "card-row row">
            <div class = "card-col-blocks col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <img class="img" src="https://www.unh.edu/unhtoday/sites/default/files/styles/article_huge/public/article/2019/professional_woman_headshot.jpg?itok=3itzxHXh" alt="image for person">
            </div>
            <div class = "card-text-blocks col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <h4 class = "text-center">JOAN WRABETZ</h4>
                <div class = "card-description-text">
                    <p class="text-dark">Ms. Wrabetz has held senior executive positions at:</p>
                    <ul class = "text-dark">
                        <li>Western Digital Corporation (VP Marketing and Product Management)</li>
                        <li>QualiSystems (CTO)</li>
                        <li>EMC (VP and CTO for advanced technology division)</li>
                        <li>Aumni Data (founder and CEO)</li>
                        <li>Tricord Systems (CEO)</li>
                        <li>StorageTek (VP and GM)</li>
                        <li>Aggregate Computing (founder and CEO)</li>
                    </ul>
                    <p class = "text-dark">Joan earned an MBA from University of California at Berkeley, a MSEE from Stanford University, and a BSEE from Yale University.</p>
                    <p class = "text-dark">She holds patents in load balancing, distributed systems, and machine learning analytics.</p>
                    <p class = "text-dark">Joan has been an adjunct professor at the University of St. Thomas,  St. Mary's University, and the University of Minnesota business school.</p>
                </div>
                <div class = "card-social-row">
                    <a href = "#" class = "icons"> <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i> </a>
                    <a href = "#" class = "icons"> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i> </a>
                </div>
            </div>
        </div>
        <hr class = "my-4">
        <div class = "card-row row">
            <div class = "card-col-blocks col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <img class="img" src="https://www.unh.edu/unhtoday/sites/default/files/styles/article_huge/public/article/2019/professional_woman_headshot.jpg?itok=3itzxHXh" alt="image for person">
            </div>
            <div class = "card-text-blocks col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <h4 class = "text-center">FRANK VARGAS III</h4>
                <div class = "card-description-text">
                    <p class = "text-dark">
                        Mr. Vargas is an attorney practicing with Rimon Law, specializing in corporate and securities law for venture firms and startup companies in IT and medical technology.  
                        He sits on the board of directors of a number of companies.  Frank specializes in business re-structuring, board structuring, and business strategy.
                    </p>
                    <p class = "text-dark">Frank has a JD/MBA from the University of California at Berkeley, and a BS in Economics from Harvard University.</p>
                    <p class = "text-dark">Frank is currently an adjunct professor at Santa Clara University Law School, and has been an adjunct professor at the University of St. Thomas, and St. Mary's University.</p>
                </div>
                <div class = "card-social-row">
                    <a href = "#" class = "icons"> <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i> </a>
                    <a href = "#" class = "icons"> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i> </a>
                </div>
            </div>
        </div>
    </div>
</body>
