<head>
    <meta charset="UTF-8">
    <meta name="description" content="Myriathon is a group of gamers who run bi-annual gaming marathons, raising money for a variety of charity organizations.">
    <meta name="keywords" content="Charity, Gaming, Video Games, Games, Game Marathons, Myriathon, Marathon, Marathons, Raising Money, Fundraise, Fundraising">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class = "row">
        <div class="darken-pseudo d-none d-sm-block" id = "test-block-1-large">
            <div id = "overlay-large">
                <p class = "text-light">
                    At Renaissance Consulting Group, we understand that change is not always easy. 
                    Since 2000, we’ve been helping technology companies of all sizes respond to industry transitions 
                    in order to stay competitive.
                </p>
            </div>
        </div>
        <div class="darken-pseudo d-block d-sm-none" id = "test-block-1-small">
            <div id = "overlay-small">
                <p class = "text-light">
                    At Renaissance Consulting Group, we understand that change is not always easy. 
                    Since 2000, we’ve been helping technology companies of all sizes respond to industry transitions 
                    in order to stay competitive.
                </p>
            </div>
        </div>
    </div>
    <div id = "test-block-2" class = "row">
        <div class = "col">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://www.exploreminnesota.com/sites/default/files/styles/share_image/public/2019-10/grand-marais-honeymoon-bluff-woman-hiking_roy-son.jpg?h=0c047d17&itok=N8GTdR1p" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://www.exploreminnesota.com/sites/default/files/styles/share_image/public/2019-10/grand-marais-honeymoon-bluff-woman-hiking_roy-son.jpg?h=0c047d17&itok=N8GTdR1p" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://www.exploreminnesota.com/sites/default/files/styles/share_image/public/2019-10/grand-marais-honeymoon-bluff-woman-hiking_roy-son.jpg?h=0c047d17&itok=N8GTdR1p" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <div id = "test-block-3"></div>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <div id = "test-block-4"></div>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <div id = "test-block-5"></div>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <div id = "test-block-6"></div>
        </div>
    </div>
</body>
    