.col
{
    padding: 0px;
}

.row
{
    padding: 0px;
    margin: 0px;
}

#test-block-1-large
{
    background-image: url("https://www.exploreminnesota.com/sites/default/files/styles/share_image/public/2019-10/grand-marais-honeymoon-bluff-woman-hiking_roy-son.jpg?h=0c047d17&itok=N8GTdR1p");
    width: 100%;
    min-height: 675px;
    padding: 1rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#test-block-1-small
{
    background-image: url("https://www.exploreminnesota.com/sites/default/files/styles/share_image/public/2019-10/grand-marais-honeymoon-bluff-woman-hiking_roy-son.jpg?h=0c047d17&itok=N8GTdR1p");
    width: 100%;
    min-height: 700px;
    padding: 1rem;
    position: relative;
    background-position-x: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .darken-pseudo:after 
    {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0.25);
    }

#overlay-large
{
    z-index: 2;
    padding: 15px;
    border-radius: 8px;
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 0px;
    width: 500px;
}

#overlay-small
{
    z-index: 2;
    padding: 15px;
    border-radius: 8px;
    opacity: 1;
    position: absolute;
    top: 35px;
    left: 0px;
}

#overlay-large p
{
    font-size: 32px;
}

#overlay-small p
{
    font-size: 24px;
}

#test-block-2
{
    background-color: #cbe7eb;
}

.card-deck
{
	margin: auto;
}

.card-deck .card
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#test-block-3
{
    background-color: green;
    height: 450px;
}

#test-block-4
{
    background-color: blue;
    height: 600px;
}

#test-block-5
{
    background-color: yellow;
    height: 450px;
}

#test-block-6
{
    background-color: orange;
    height: 450px;
}
