.col
{
    padding: 0px;
}

.row
{
    padding: 0px;
    margin: 0px;
}

#home-header-large
{
    background-image: url("https://www.exploreminnesota.com/sites/default/files/styles/share_image/public/2019-10/grand-marais-honeymoon-bluff-woman-hiking_roy-son.jpg?h=0c047d17&itok=N8GTdR1p");
    width: 100%;
    min-height: 675px;
    padding: 1rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-header-small
{
    background-image: url("https://www.exploreminnesota.com/sites/default/files/styles/share_image/public/2019-10/grand-marais-honeymoon-bluff-woman-hiking_roy-son.jpg?h=0c047d17&itok=N8GTdR1p");
    width: 100%;
    min-height: 700px;
    padding: 1rem;
    position: relative;
    background-position-x: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .darken-pseudo:after 
    {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0.25);
    }

#overlay-large
{
    z-index: 2;
    padding: 15px;
    border-radius: 8px;
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 0px;
    width: 500px;
}

#overlay-small
{
    z-index: 2;
    padding: 15px;
    border-radius: 8px;
    opacity: 1;
    position: absolute;
    top: 35px;
    left: 0px;
}

#overlay-large p
{
    font-size: 32px;
}

#overlay-small p
{
    font-size: 24px;
}

#cards-row
{
    background-color: #cbe7eb;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card
{
    width: 100%;
    height: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    .card-img-top
    {
        height: 260px;
        border-radius: 0rem;
    }

    .btn
    {
        border-radius: 0rem;
        background-color: #0073b5;
        border: 1px solid #0073b5; 
    }

        .btn:hover
        {
            border: 1px solid #0073b5;
            background-color: white;
            color: #0073b5;
        }

#mission-block
{
    background-color: #61bfcd;
    height: 450px;
}

    #mission-block-left
    {
        margin-top: 5rem;
    }

        #mission-block-left h3
        {
            text-decoration: underline;
        }

        #mission-block-left p
        {
            font-style: italic;
        }

    #mission-block-right
    {
        margin: auto;
    }

#client-block
{
    background-color: white;
    height: 600px;
}

    #client-header-title
    {
        height: 100px;
        width: 100%;
    }

    .client-img-row
    {
        height: 285px;
        width: 100%;
    }

    .client-col
    {
        height: 100%;
        padding: 1rem;
    }

    .client-img-card
    {
        height: 100%;
        width: 100%;
    }

    .client-card-body
    {
        background-color: #cbe7eb;
    }

#blog-posts-block
{
    background-color: #61bfcd;
    height: 450px;
}

#contact-us-block
{
    background-color: #cbe7eb;
    height: 450px;
    margin-bottom: 10rem;
    padding: 1rem;
}
